<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    <tr><td><label for="name">Name:</label></td>
    <td><input  type="text" name="name"></td></tr>
    <tr><td><label for="description">description:</label></td>
    <td><input type="text" name="description"></td></tr>
    <tr><td><label for="email">Email:</label></td>
    <td><input type="email" name="email"></td></tr>
    <tr><td><input type="file" name="image"></td></tr>
    <tr><td><input type="submit"></td></tr>
    </table>




 </form>
    
</body>
</html>